<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Assinaturas
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)" [disabled]="loading">
        <ion-icon slot="icon-only" name="options-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="openFormModal()">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Assinaturas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="!ss?.empty && !loading">
    <ion-card-content>
      <ion-grid>
        <ion-row  *ngIf="ss.selectedStatus == 'ATIVO'">
          <ion-col><h2><strong>Gasto mensal</strong></h2></ion-col>
          <ion-col><h2><strong>Gasto anual</strong></h2></ion-col>
        </ion-row>
        <ion-row  *ngIf="ss.selectedStatus == 'ATIVO'">
          <ion-col>R${{ss.signaturesTotals?.monthlyTotal}}</ion-col>
          <ion-col>R${{ss.signaturesTotals?.yearlyTotal}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col><p>{{ss.selectedStatus == 'ATIVO' ? 'Assinaturas ativas' : 'Assinaturas inativas'}}: {{ss.signatureCount}}</p></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-list *ngIf="!ss?.empty && !loading">
    <ion-item button *ngFor="let signature of ss.signatureList" (click)="util.navWithParams(signature, 'signature-detail/' + signature?.id)">
      <ion-label>
        {{signature?.name}}
        <p>{{signature?.description}}</p>
      </ion-label>
      <ion-badge [color]="'primary'" slot="end">
        {{signature?.currency == 'DOLAR' ? ('$') : ('R$')}} {{signature?.price}}
      </ion-badge>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="loading">
    <ion-item *ngFor="let skeleton of util.skeletonList">
      <ion-label>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        <p><ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="ion-margin empty-container" *ngIf="ss?.empty && !loading">
    <strong class="capitalize">Assinaturas</strong>
    <p *ngIf="ss.selectedStatus == 'ATIVO'">Não há assinaturas ativas cadastradas.</p>
    <p *ngIf="ss.selectedStatus == 'INATIVO'">Não há assinaturas inativas cadastradas.</p>
    <ion-button *ngIf="ss.selectedStatus == 'ATIVO'" class="ion-margin-top" expand="full" color="primary"
        (click)="openFormModal()">Cadastrar</ion-button>
  </div>
</ion-content>
