<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Agenda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Agenda</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-toolbar>
    <ion-item lines="none">
      <ion-label>Ano</ion-label>
      <ion-select placeholder="Selecione" [(ngModel)]="selectedYear"
        (ionChange)="changeFilter()" interface="action-sheet" [cancelText]="'Cancelar'">
        <ion-select-option *ngFor="let year of yearList" value="{{year}}">{{year}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Mês</ion-label>
      <ion-select placeholder="Selecione" [(ngModel)]="selectedMonth"
        (ionChange)="changeFilter()" interface="action-sheet" [cancelText]="'Cancelar'">
        <ion-select-option value="0">Janeiro</ion-select-option>
        <ion-select-option value="1">Fevereiro</ion-select-option>
        <ion-select-option value="2">Março</ion-select-option>
        <ion-select-option value="3">Abril</ion-select-option>
        <ion-select-option value="4">Maio</ion-select-option>
        <ion-select-option value="5">Junho</ion-select-option>
        <ion-select-option value="6">Julho</ion-select-option>
        <ion-select-option value="7">Agosto</ion-select-option>
        <ion-select-option value="8">Setembro</ion-select-option>
        <ion-select-option value="9">Outubro</ion-select-option>
        <ion-select-option value="10">Novembro</ion-select-option>
        <ion-select-option value="11">Dezembro</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>

  <ion-list *ngIf="!empty && !loading">
    <ion-item button *ngFor="let signature of signatureMonthList">
      <ion-label>
        {{signature?.name}}
        <p>{{signature?.description}}</p>
      </ion-label>
      <ion-badge class="event-date ion-text-center" slot="end">
        <h5 class="ion-no-margin">
          {{signature?.nextPaymentDate | date:'dd':'UTC':'pt-BR'}}</h5>
        <p class="ion-no-margin">
          {{signature?.nextPaymentDate | date:'MMM':'UTC':'pt-BR'}}</p>
      </ion-badge>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="loading">
    <ion-item *ngFor="let skeleton of util.skeletonList">
      <ion-label>
        <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        <p><ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="ion-margin empty-container" *ngIf="empty && !loading">
    <strong class="capitalize">Agenda</strong>
    <p>Não há pagamentos previstos para esse mês.</p>
  </div>
</ion-content>
