<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="signature">
      <ion-icon aria-hidden="true" name="list-outline"></ion-icon>
      <ion-label>Assinaturas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar">
      <ion-icon aria-hidden="true" name="calendar-outline"></ion-icon>
      <ion-label>Agenda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user">
      <ion-icon aria-hidden="true" name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
