<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/signature"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhe da assinatura</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentActionSheet()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Assinatura</ion-card-subtitle>
      <ion-card-title>{{selectedSignature?.name}}</ion-card-title>
      <p><ion-badge [color]="selectedSignature?.status === 'ATIVO' ? 'success' : 'danger'">{{selectedSignature?.status | titlecase}}</ion-badge></p>
    </ion-card-header>
    <ion-card-content>
      <p>
        Primeiro pagamento: {{selectedSignature?.startDate | date:'shortDate':'UTC':'pt-BR'}}
      </p>
      <p>
        {{selectedSignature?.currency == 'DOLAR' ? ('$') : ('R$')}} {{selectedSignature?.price}} / {{selectedSignature?.frequency | lowercase}}
      </p>
      {{selectedSignature?.description}}
    </ion-card-content>
  </ion-card>

  <ion-list *ngIf="selectedSignature?.keywords?.length > 0">
    <ion-list-header lines="inset">
      <ion-label>
        Categorias
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-badge class="m-10" button color="primary" *ngFor="let keyword of selectedSignature?.keywords">
        {{keyword?.name}}
      </ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
